h1{
    background-color: darkturquoise;
}

body{
    background-image: url("https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dmlzaW9ufGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
    background-size: contain;
    
}
img{
    width: 200px;
    height: 100vh;
    object-fit: contain;
}